<div class='container-fluid'>
    <img  class="center-block img-responsive" src='http:{{company.logo}}'>
</div>

<h3 style="text-align:left">
    Hola {{ user.name }}! <br>

    Hemos recibido tu solicitud <br>
    Tu número de orden es #{{order.order_number}}<br>
</h3>

<!-- ---------------------------  Envío MANUAL ------------------------------------------ -->
{% if metodo_envio == 'Manual' %}
    <p style="text-align:left">
        En breve recibiras por mail las instrucciones para que nos hagas llegar tus productos <br>
    </p>
    <p style="text-align:center">
                {% for i in productos %}
                    {{i.quantity}} - {{i.name}} <br>
                {% endfor %}
    </p>
    <br>
    <p style="text-align:left">
        {{textos['confirma_manual_note']}} <br>
    </p>
{% endif %}

<!-- ---------------------------  Envío COORDINAR  ------------------------------------------ -->
{% if metodo_envio == 'Coordinar' %}
    <p style="text-align:left">
        En breve nos comunicamos contigo para coordinar el envío de las prendas: <br>
    </p>
    <p style="text-align:center">
                {% for i in productos %}
                    {{i.quantity}} - {{i.name}} <br>
                {% endfor %}
    </p>
    <br>
    <p style="text-align:left">
        {{textos['confirma_coordinar_note']}} <br>
    </p>
    
{% endif %}

<!-- ---------------------------  Envío CORREO ------------------------------------------ -->
{% if metodo_envio == 'Moova' %}
<!-- ---------------------------  Envío CORREO - a cargo del CONSUMIDOR ----------------- -->   
     {% if envio.status == 'DRAFT' %}
        
            {% if shipping == 'customer' %}
                <p style="text-align:left">
                    En breve recibiras por mail las instrucciones para que puedas abonar el servicio de retiro<br>
                    El costo del mismo es <strong>{{envio.priceFormatted}}</strong><br>
        
                    Una vez abonado recibiras las intrucciones para que puedas preparar tus productos para ser retirados
                    <br>
                </p> 
<!-- ---------------------------  Envío CORREO - a cargo del CONSUMIDOR ----------------- -->                  
            {% else %}
                <br>
                <p style="text-align:left">
                    En breve recibiras por mail las instrucciones para que prepares tu pedido. <br>
                    Un mensajero de Moova para a retirarlo
                </p>
            {% endif %}
            <br>
            <p style="text-align:left">
                {{textos['confirma_moova_note']}} <br>
            </p>
         
    {% else %}
        <p style="text-align:center"> 
            Un mensajero de MOOVA pasara a retirarlo en breve<br>
            Tu numero  secreto es {{envio['secretCode']}} <br>
            El Id de tu orden es <br>
                {{envio.id}}<br>
        </p>
    {% endif %}
{% endif %}

<br>
<h5 style="text-align:left"> Podes hacer el seguimiento de tu orden acá: <br>
        <a href="http://frontprod.borisreturns.com/tracking/{{order.id}}">
        http://frontprod.borisreturns.com/tracking/{{order.id}}
        </a>

