{% extends 'bootstrap/base.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/style.css">
{% endblock %}


{% block title %}
    {% if title %}{{ title }} - {{NombreStore}} returns - Boris Returns {% else %}Boris Returns{% endif %}
{% endblock %}


{% block navbar %}

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                {% if config['SERVER_ROLE'] == 'DEV' %}
                    <a class="navbar-brand" href="{{ url_for('main.buscar', empresa = 'Ninguna') }}">DEV - Buscar orden</a>
                {% endif %}
                {% if config['SERVER_ROLE'] == 'PROD' %}
                    <a class="navbar-brand" href="#">Powered by BORIS</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <div>
    
        </div>

{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>

        function buscar_producto(desc_prod, destElem) {  
            $.post('/elegir_producto', {
                prod: $(desc_prod).val()
            }).done(function(response) {
                data = JSON.parse(response);
                var str='<option value="0"> -- Selecciona el producto -- </option>'
                for(d in data)
                    str+='<option value="'+data[d]['id']+'">'+data[d]['name']['es']+'</option>'
                $(destElem).html(str)    
            }).fail(function(){
                $(destElem).html('<option value="0"> -- No existe ese articulo -- </option>')
            })   
        }
        
        
        $(document.body).on('change',"#product_select",function () {
            var productId= $("#product_select option:selected").val();
            $.post('/elegir_alternativa', {
                prod_id: productId
            }).done(function(response) {
                data = JSON.parse(response);
                var str='<option value="seleccionar"> -- Selecciona la variante -- </option>'
                jQuery.each(data, function(index, item) {
                    str+='<option value="'+item['id']+'">'+item['desc']+'</option>';
                });
                $("#alternativa_select").html(str)    
            }).fail(alert('NOK'))  
        });
        

    </script>
{% endblock %}