{% extends "base.html" %}

{% block app_content %}


<div class="container-fluid">
<br>
<br>

<div class="row">
    <div class="col-xs-1 col-sm-1 col-md-2 col-lg-3"></div>
    
    <div class="col  justify-content-center"  >
        <div class="card border-light rounded text-center px-4 py-4">
        
                <!-- <h3 >{{empresa.company_name}}</h3> -->
                <img src="{{empresa.logo}}" class="card-img-top mx-auto" alt="logo" >
                <div class="card-body">
                   <!-- <h5>Cambios y Devoluciones</h5> -->
                   {% if textos['portal_texto'] %}
                    <h5>{{textos['portal_titulo'] | safe}}</h5>
                    {% endif %}
                    <hr>
                <strong class="card-title mb-2 ">Busca tu orden</strong>
            
                <form id="buscar_orden" action="{{ url_for('main.buscar', empresa=empresa.store_id)}}" method="POST">
                
                    <div class="form-group row mt-4">
                        <input type="integer" class="form-control" id="ordernum" name="ordernum" placeholder="Número de orden">
                    </div>
                    <div class="form-group row">
                        <input type="email" class="form-control" id="ordermail" name="ordermail" placeholder="Email con el que se realizó la compra">
                    </div>
                    <button type="submit" class="btn btn-info mt-2">Inicia tu gestión</button>
                </form>
                
                {% if textos['portal_texto'] %}
                    <small>
                    <hr>
                    {{textos['portal_texto'] | safe}}
                    </small>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-xs-1 col-sm-1 col-md-2 col-lg-3"></div>
</div>
<br>
<br>
</div>

{% endblock%}