{% extends "base.html" %}

{% block app_content %}
<div class='container'>
    <div>
        <form id="item" action="javascript:busca_alternativa2(
            '{{item['id']}}',
             '#accion.val()' );" method="POST"> 
            <table>
            <tbody>
                <tr>
                    <td><img src="{{ item['image'] }}" style="height:150px; text-align:center; vertical-align:middle"> </img> <td>
                    <td>  
                    <input type="hidden" id="{{ item['id'] }}" name="Prod_Id" value="{{ item['id'] }}">
                    <input type="hidden" id="form_item" name="form_item" value="elegir_item">
                    <td> 
                        {{ item['name'] }} 
                    <br> Cantidad:  {{ item['quantity']}} 
                    <br> Precio: {{ item['price']}} 
                    <td>     
                        <div>
                            {% if  item['accion'] == 'cambiar' %}
                            <input type="radio" id="cambiar" name="accion" value="cambiar" checked=true>  
                            <label for="cambiar">Cambiar</label>
                            {% else %}
                            <input type="radio" id="cambiar" name="accion" value="cambiar">  
                            <label for="cambiar">Cambiar</label>
                            {% endif %}
                            {% if  item['accion'] == 'devolver' %}
                            <input type="radio" id="devolver" name="accion" value="devolver" checked=true>
                            <label for="devolver">Devolver</label>
                            {% else %}
                            <input type="radio" id="devolver" name="accion" value="devolver">
                            <label for="devolver">Devolver</label>
                            {% endif %}
                            {% if  item['accion'] == 'ninguna' %}
                            <input type="radio" id="ninguna" name="accion" value="ninguna" checked=true>
                            <label for="ninguna">Me lo quedo</label>
                            {% else %}
                            <input type="radio" id="ninguna" name="accion" value="ninguna">
                            <label for="ninguna">Me lo quedo</label>
                            {% endif %}
                        </div>
                        <div>
                            Que cantidad ? 
                            <input type="number" id="accion_cantidad" name="accion_cantidad}" 
                                min="1" max="{{ item['quantity'] }}" value="{{ item['accion_cantidad'] }}" > 
                            <br>
                            Motivo : 
                            <input name="motivo" id= motivo 
                            value = "{{ item['motivo']}}" list="motivos">
                            <datalist id="motivos">
                                <option value="Es grande">
                                <option value="Es chico">
                                <option value="Mala calidad">
                                <option value="Tiene fallas">
                                <option value="No gusta color">
                            </datalist>
                        </div>
                    </td>
                </div>
                    
                    <td> <input type="submit"> </td>
                </tr> 
            </tbody>
            </table>
        <br>
        </form>
    </div>

    <span id="Busca_alternativa">
        <a href="javascript:busca_alternativa2(
            '{{item['id']}}',
            $('#accion').val() );">buscar</a>
                                    
    </span>

    {% if title == 'Cambio' %}
    <form id="realizaCambio" action="{{ url_for('pedidos') }}" method="POST"> 
        <input type="hidden" id="form_item" name="form_item" value="cambiar_item">
        <table>
            {% for key, value in alternativas.items() %}
                <tr>
                    <th>{{ key }} </th>
                    {% for item in value %}
                        <td> 
                            <input type="radio" id="{{key}}" name="{{ key }}" value={{item}}>  
                            <label for="{{key}}">{{item}}</label>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table> 
    <br> <input type="submit"> 
    </form>

    

    {% endif %}
</div>
  {% endblock %}

  