{% extends "base.html" %}

{% block app_content %}
       
<div class='container'>
  <div class='order-info-content'>
    <h2>Hola, {{ user.name }}!</h2>
    <h3> Confirma tus cambios </h3>
      <div class='line'></div>             
      {% for producto in productos %}
        <table class='order-table'>
        <tbody>
          <tr>
            <td><img src="{{ producto['image'] }}" style="height:150px; text-align:center; vertical-align:middle"> </img> <td>
            <td>
              <br> {{ producto['name'] }} 
              <br> {{ producto['accion']}} - {{ producto['accion_cantidad'] }}
              <br> {{ producto['motivo']}} <br><br>
              <div> $ {{ producto['price']}}</div>
            </td>
          </tr>
        </tbody>
        </table>
        <div class='line'></div>
      {% endfor %}

      <div class='total'>
            <span>
              <div> Descuentos </div>
              <div> Costo Envío </div>
              TOTAL
            </span>
            <span>
              <div>$ 1.000</div>
              <div>$ 150</div>
              $ 1.150
            </span>
      </div>
  </div>
</div>

{% endblock %}