{% extends "base.html" %}

{% block app_content %}
       
<div class='container'>
  <div class='order-info-content'>
    <h2>Hola, {{ user.name }}!</h2>
    <h3> Este es tu pedido #{{ order.order_number}}</h3>
    <p> Selecciona los articulos que queres cambiar o devolver y luego presiona Confirmar</p>
             
      {% for producto in productos %}
      <form id="producto{{ producto['id'] }}" action="{{ url_for('pedidos_unitarios') }}" method="POST"> 
        <div class="row">
        <div class=".table-responsive">
          <table>
          <tbody>
            <tr>
              <td class="w-25" ><img src="{{ producto['image'] }}"  class="img-fluid img-thumbnail" > </img> <td>
              <td>
                <input type="hidden" id="{{ producto['id'] }}" name="Prod_Id" value="{{ producto['id'] }}">
                <br> {{ producto['name'] }} 
                <br>  {% if producto['accion'] != 'ninguna' %}
                        {{ producto['accion']}} - 
                      {% endif %}
                  {{ producto['accion_cantidad'] }} Unid.

                <br> 
                  {% if producto['accion'] == 'cambiar' %}
                  por  {{ producto['accion_cambiar_por']}}
                  {% endif %}

                <br> 
                <br> {{ producto['motivo']}} <br><br>
                <div> Precio : $ {{ producto['price']}}
                {% if producto['promo_descuento'] %}
                  <br> Precio promoción: ({{ producto['promo_nombre'] }}) {{ producto['promo_descuento'] }}
                {% endif %}
                </div>
              </td>
              <td> <div> <input type="submit" value="Cambiar/Devolver"> </div> </td>
            </tr>
          </tbody>
          </table>
        </div>
        <br>
      </div>
      </form>
      {% endfor %}
      <form id="confirma_cambios" 
        action="{{ url_for('confirma_cambios') }}" method="POST"> 
        <p align="center">
            <a href="{{ url_for('confirma_cambios') }}" >
            <button class=grey>Confirmar</button>
        </a>
        </p>
        </form>
        
{% endblock %}