{% extends "base.html" %}

{% block app_content %}



<br>
<br>
<div class="col d-flex" >
  <!-- <div class="card border-light rounded px-4 py-3"> -->
  <div class="card border-light rounded px-sm-2 py-sm-2 px-md-3 py-md-3">

    <h4>Confirmá tu orden </h4>
    <h5>Por favor, revisa que los datos de contacto sean correctos</h5>
    <!-- <div class="card-body" style="font-size: 0.875em;"> -->
    <div class="card-body mx-0 px-0 ">
  
    {% for producto in productos %}
      {% if producto['accion'] == 'cambiar' %}
        {% set accion = 'Cambiar' %}
      {% endif %}
      {% if producto['devolver'] == 'cambiar' %}
        {% set accion = 'Devolver' %}
      {% endif %}
      <div class="card mb-2 ">
        <div class="card-body">       
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
              <img src="{{ producto['image'] }}" class="card-img img-thumbnail"  > </img> 
            </div>

            <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                <strong>{{ accion}} <br>
                {{ producto['name'] }}</strong> 
                 - {{ producto['accion_cantidad'] }} Unid.
                <br>
                {% if producto['accion'] == 'cambiar' %}
                  por  {{ producto['accion_cambiar_por_desc']}}<br> 
                {% endif %}
                {% if producto['accion'] != 'cambiar' %}
                  {% if producto['promo_descuento'] %}
                    <strong>Monto a devolver: ${{ producto['promo_precio_final'] * producto['accion_cantidad'] }}</strong> <br>
                  {% else %}
                  <strong>Monto a devolver: ${{ producto['price'] * producto['accion_cantidad'] }} </strong> <br>
                  {% endif %}
                  Método de devolución: {{ order['metodo_de_pago'] }} 
                  {% if order['tarjeta_de_pago'] != None %}
                    {{ order['tarjeta_de_pago']}}
                  {% endif %}  
                {% endif %}
                <br> Motivo: {{ producto['motivo']}} <br><br>
              </div>
            </div>
          </div>
        </div>
      <br>
      {% endfor %}

      <div class="card mb-2 ">
        <div class="card-body">       
          <h5><strong>Datos de Contacto </strong></h5>
          
            <strong>{{  user.name }}</strong> <br>
            {{  user.email }} <br>
            {{  user.phone }} <br>
          
            {{  user.address }} {{  user.number }} {{  user.floor }} <br>
            {{  user.locality }}  {{  user.zipcode }} <br>
            {{  user.city }} {{  user.province }} <br>
            {{  user.country }} <br>
          
            <br>
            <strong>Instrucciones para el retiro:</strong>
              <br>
              {{  user.instructions or ''}} <br>
            
            <br>
          
          <a href="{{ url_for('main.direccion') }}">
                <button class="btn btn-info btn-sm">Corregir datos</button>
          </a>
        </div>
      </div>

      <br>

      <div class="card mb-2 ">
        <div class="card-body">       
          <h5>Alternativas disponibles para el envío de la orden</h5>
          
          
          {% for e in envio %}
            <div class="card border-info mt-3">
              <div class="card-body">       
                <!--
                <a href="{{ url_for('main.confirma_solicitud', metodo_envio=e['metodo_envio_id'], area_valida=area_valida, precio_envio=precio_envio) }}" >
                -->
                <a href="{{ url_for('main.confirma_solicitud', metodo_envio=e['metodo_envio_id'], area_valida=area_valida) }}" >  
                  <button class="btn btn-info btn-lg"> <span class="{{e['icon']}}"></span> <br> </button>
                  <p class="text-info" >
                    <!--  if area_valida == True  Ver como detectar si el area es valida
                           if precio_envio != 'Failed' y si tiene cotizacion
                    --> 
                    <strong>  {{e['boton_titulo'] }} </strong> <br>
                    {{e['boton_descripcion'] | safe }}
                    {% if e['costo_envio'] %}
                      <br>Costo: {{e['precio_envio']}}
                    {% endif %}
                  </p>
                </a>
              </div>
            </div>
          {% endfor %}
          
          </div>
        </div>
    </div>
  </div>
</div>



{% endblock %}