{% extends "base.html" %}

{% block app_content %}



<div class='container'>
    <h3>Confirmá tu orden </h3>
    <h4>Por favor, revisa que los datos de contacto sean correctos </h4>
    {% for producto in productos %}
       <!--
      <form id="producto{{ producto['id'] }}" action="{{ url_for('pedidos_unitarios') }}" method="POST"> 
      -->    
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
          <img src="{{ producto['image'] }}" class="img-responsive img-thumbnail"  > </img> 
        </div>

        <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
          <br> <strong>{{ producto['accion']}} </strong> - {{ producto['accion_cantidad'] }} Unid.
          <br> {{ producto['name'] }} 
          <br> 
          {% if producto['accion'] == 'cambiar' %}
           por  {{ producto['accion_cambiar_por_desc']}}<br> 
          {% endif %}
          {% if producto['accion'] != 'cambiar' %}
            {% if producto['promo_descuento'] %}
              <strong>Monto a devolver: ${{ producto['promo_precio_final'] * producto['accion_cantidad'] }}</strong> <br>
            {% else %}
            <strong>Monto a devolver: ${{ producto['price'] * producto['accion_cantidad'] }} </strong> <br>
            {% endif %}
            Método de devolución: {{ order['metodo_de_pago'] }} 
            {% if order['tarjeta_de_pago'] != None %}
              {{ order['tarjeta_de_pago']}}
            {% endif %}  
          {% endif %}
          <br> Motivo: {{ producto['motivo']}} <br><br>
        </div>
      </div>
      <br>
      {% endfor %}
</div> 

<br>

<div class='container'>
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
      <strong>Datos de Contacto</strong>
      <br><br>
      <strong>{{  user.name }}</strong> <br>
      {{  user.email }} <br>
      {{  user.phone }} <br>
      {{  user.address }} {{  user.number }} {{  user.floor }} <br>
      {{  user.locality }}  {{  user.zipcode }} <br>
      {{  user.city }} {{  user.province }} <br>
      {{  user.country }} <br>
      <br>
      <a href="{{ url_for('direccion') }}">
            <button class="btn btn-default">Corregir datos</button>
      </a>
    </div>  

  </div>
      <br>
      <br>
      <div class="row">
        <div class="col-sm-12 text-center">
          
          <a href="{{ url_for('confirma_solicitud', metodo_envio='Moova') }}" >
              <button class="btn btn-primary" style="width: 40%">
                <img style='height: auto; width: 50%' src="/static/images/moto.png" alt="Moova"/>
                <br/>
                Quiero que retiren <br>
                mi orden a domicilio
              </button>
          </a>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="{{ url_for('confirma_solicitud', metodo_envio='Manual') }}" >
            <button class="btn btn-primary" style="width: 40%" >
              <img style='height: auto; width: 50%' src="/static/images/box.png" alt="Manual"/>
              <br>
              Enviaré la orden <br>
              por mi cuenta</button>
          </a>
        </div>
    </div>
</div>

{% endblock %}