{% extends "base.html" %}

{% block app_content %}

<div class='container'>
  <div>
    <h2>Hola, {{ user.name }}!</h2>
    <h3> Este es tu pedido #{{ order.order_number}}</h3>
    <p> Selecciona los articulos que queres cambiar o devolver y luego presiona Confirmar</p>
             
      {% for producto in productos %}
      
      
      <form id="producto{{ producto['id'] }}" action="{{ url_for('pedidos_unitarios') }}" method="POST"> 

            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                <img src="{{ producto['image'] }}" class="img-responsive img-thumbnail"  > </img> 
              </div>

              <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8">
                <input type="hidden" id="{{ producto['id'] }}" name="Prod_Id" value="{{ producto['id'] }}">
                <br> <strong> {{ producto['name'] }} </strong>
                <br>
                  {% if producto['accion'] != 'ninguna' %}
                        {{ producto['accion']}} - 
                   {% endif %}
                  {{ producto['accion_cantidad'] }} Unid.
               
                  {% if producto['accion'] == 'cambiar' %}
                    por  {{ producto['accion_cambiar_por_desc']}}
                  {% endif %}
                <br> {{ producto['motivo']}} <br>
                <div> Precio : $ {{ producto['price']}}
                {% if producto['promo_descuento'] %}
                  <br> Precio Abonado: {{ producto['promo_descuento'] }} - ({{ producto['promo_nombre'] }}) 
                {% endif %}
                </div>
                <br>
                <button class="btn btn-default" type="submit">Devolver / Cambiar</button>
              </div>
              
            </div>
            <br>
          
      </form>
      
     
      {% endfor %}
      
      <form id="confirma_cambios" 
        action="{{ url_for('confirma_cambios') }}" method="POST"> 
        <p align="center">
            <a href="{{ url_for('confirma_cambios') }}" >
            <button class="btn btn-primary" style="margin:auto;display:block">Confirmar</button>
        </a>
        </p>
        </form>
        
{% endblock %}