{% extends "base.html" %}

{% block app_content %}
       
<div class='container'>
  <div class='order-info-content'>
    <h2>Hola, {{ user.name }}!</h2>
    <h3> Confirma tus cambios </h3>
      <div class='line'></div>             
      {% for producto in productos %}
        <table class='order-table'>
        <tbody>
          <tr>
            <td><img src="{{ producto['image'] }}" style="height:150px; text-align:center; vertical-align:middle"> </img> <td>
            <td>
              <br> {{ producto['name'] }} 
              <br> {{ producto['accion']}} - {{ producto['accion_cantidad'] }} Unid.
              <br> {{ producto['motivo']}} <br><br>
              <div> Precio : $ {{ producto['price']}}
              {% if producto['promo_descuento'] %}
                <br> Precio promoción: ({{ producto['promo_nombre'] }}) {{ producto['promo_descuento'] }}
              {% endif %}
              </div>
            </td>
          </tr>
        </tbody>
        </table>
        <div class='line'></div>
        <br>
      {% endfor %}

      <div class='total'>
            <span>
              <div> Total Descuentos {{ productos | sum(attribute='promo_descuento') }} </div>
              TOTAL
            </span>
      </div>
  </div>
</div>

{% endblock %}