{% extends "base.html" %}

{% block app_content %}
    <body>
       <h2>Hola, {{ user.name }}!</h2>
       <h3>Este es tu pedido {{ order.order_number}}</h3>

       {% for producto in productos %}
       <div>
           <p> 
               {{ producto['id']}}  
               {{ producto['name']}}
               {{ producto['quantity']}}
               {{ producto['price']}}  
               {{ producto['image']}} 
               {{ producto['accion']}}   
               {{ producto['motivo']}}   
            </p>
        </div>
       {% endfor %}
{% endblock %}