{% extends "base.html" %}


{% block app_content %}
    <h2 style="text-align:center"> Tracking de tu orden</h2>
    <div class="p-4">
        <table class="table table-bordered track_tbl">
            <thead>
                <tr>
                    <th></th>
                    <th>Status</th>
                    <th>Date/Time</th>
                </tr>
            </thead>
            <tbody>
            {% if historia|length == 0 %}
                <tr>
                    <td>
                    <h5>
                    Lo sentimos, en estos momentos no podemos ayudarte
                    </h5>
                    </td>
                </tr>
            {% else %}
                {% for i in historia %}
                    {% if i.Estado !='No' %}
                    <tr class="active">
                        <td class="track_dot">
                            <span class="track_line"></span>
                        </td>
                        <td>{{i.Estado}}</td>
                        <td>{{i.Fecha}}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>



{% endblock%}